{
  "openapi": "3.0.0",
  "info": {
    "title": "Reply API Documentation",
    "description": "Welcome to the Reply.io API guide. Let's get you integrated smoothly!",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.reply.io"
    }
  ],
  "paths": {
    "/v1/campaigns": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get Campaign Details",
        "description": "Get campaign details by name or ID",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key from settings"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name of your specified campaign"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "ID of your specified campaign"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Campaign ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Campaign name"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation date and time"
                    },
                    "status": {
                      "type": "integer",
                      "enum": [0, 2, 4],
                      "description": "Campaign status (0=New, 2=Active, 4=Paused)"
                    },
                    "emailAccounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Email accounts used for the campaign"
                    },
                    "ownerEmail": {
                      "type": "string",
                      "description": "Campaign owner's email"
                    },
                    "deliveriesCount": {
                      "type": "integer",
                      "description": "Number of emails sent"
                    },
                    "opensCount": {
                      "type": "integer",
                      "description": "Number of emails opened"
                    },
                    "repliesCount": {
                      "type": "integer",
                      "description": "Number of replies received"
                    },
                    "bouncesCount": {
                      "type": "integer",
                      "description": "Number of bounced emails"
                    },
                    "optOutsCount": {
                      "type": "integer",
                      "description": "Number of opt-outs"
                    },
                    "outOfOfficeCount": {
                      "type": "integer",
                      "description": "Number of out-of-office replies"
                    },
                    "peopleCount": {
                      "type": "integer",
                      "description": "Total number of contacts"
                    },
                    "peopleFinished": {
                      "type": "integer",
                      "description": "Number of contacts who finished"
                    },
                    "peopleActive": {
                      "type": "integer",
                      "description": "Number of active contacts"
                    },
                    "peoplePaused": {
                      "type": "integer",
                      "description": "Number of paused contacts"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - check your input parameters"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Not found - campaign doesn't exist"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/campaignschedules": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get List of Campaign Schedules",
        "description": "Get a list of all campaign schedules",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key from settings"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Schedule ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Schedule name"
                      },
                      "timezoneId": {
                        "type": "string",
                        "description": "Timezone ID"
                      },
                      "mainTimings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "weekDay": {
                              "type": "string",
                              "description": "Day of the week"
                            },
                            "isActive": {
                              "type": "boolean",
                              "description": "Whether the schedule is active for this day"
                            },
                            "timeRanges": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "fromTime": {
                                    "type": "object",
                                    "properties": {
                                      "hour": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 23
                                      },
                                      "minute": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 59
                                      }
                                    }
                                  },
                                  "toTime": {
                                    "type": "object",
                                    "properties": {
                                      "hour": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 23
                                      },
                                      "minute": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 59
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "followUpTimings": {
                        "type": "array",
                        "description": "Follow-up timing configurations"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Whether this is the default schedule"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaignschedules/default": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get List of Default Campaign Schedules",
        "description": "Get a list of default campaign schedules only",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key from settings"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/campaigns/list": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get List of Campaigns",
        "description": "Get a list of all campaigns",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key from settings"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaigns": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Campaign ID"
          },
          "name": {
            "type": "string",
            "description": "Campaign name"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date and time"
          },
          "status": {
            "type": "integer",
            "enum": [0, 2, 4],
            "description": "Campaign status (0=New, 2=Active, 4=Paused)"
          },
          "emailAccounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email accounts used for the campaign"
          },
          "ownerEmail": {
            "type": "string",
            "description": "Campaign owner's email"
          },
          "deliveriesCount": {
            "type": "integer",
            "description": "Number of emails sent"
          },
          "opensCount": {
            "type": "integer",
            "description": "Number of emails opened"
          },
          "repliesCount": {
            "type": "integer",
            "description": "Number of replies received"
          },
          "bouncesCount": {
            "type": "integer",
            "description": "Number of bounced emails"
          },
          "optOutsCount": {
            "type": "integer",
            "description": "Number of opt-outs"
          },
          "outOfOfficeCount": {
            "type": "integer",
            "description": "Number of out-of-office replies"
          },
          "peopleCount": {
            "type": "integer",
            "description": "Total number of contacts"
          },
          "peopleFinished": {
            "type": "integer",
            "description": "Number of contacts who finished"
          },
          "peopleActive": {
            "type": "integer",
            "description": "Number of active contacts"
          },
          "peoplePaused": {
            "type": "integer",
            "description": "Number of paused contacts"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Schedule ID"
          },
          "name": {
            "type": "string",
            "description": "Schedule name"
          },
          "timezoneId": {
            "type": "string",
            "description": "Timezone ID"
          },
          "mainTimings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "weekDay": {
                  "type": "string",
                  "description": "Day of the week"
                },
                "isActive": {
                  "type": "boolean",
                  "description": "Whether the schedule is active for this day"
                },
                "timeRanges": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fromTime": {
                        "type": "object",
                        "properties": {
                          "hour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23
                          },
                          "minute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59
                          }
                        }
                      },
                      "toTime": {
                        "type": "object",
                        "properties": {
                          "hour": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 23
                          },
                          "minute": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 59
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "followUpTimings": {
            "type": "array",
            "description": "Follow-up timing configurations"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the default schedule"
          }
        }
      }
    }
  }
}
